body {
    /* background-color: #65DECF; */
    background-image: url("../img/suculentas.jpg");
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#cabecalho{
    /* background-image: url("../img/bulbasaur-header.jpg");
    background-size: contain; */
    background-color: #5E8C8D;
    height: 12vh;
    width: 100vw;
    margin-bottom: 4em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E8C8D;
    width: 60vw;
    height: 65vh;
    border-radius: 8px;
    margin: auto;

}

section{

}

#rodape {
    height: 10vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    margin-top: 3em;
}

